@charset "UTF-8";

*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
}


body{
    font-family:'Libre Baskerville',serif;
}


header, footer{
    width:100%;
    height:70px;
    background-color:#eb5b5b;
    font-family:'Lobster', cursive;
    display:flex;
    flex-direction:row;
}
header a{
    text-decoration:none;
    color:black;
    font-size:1.4em;
    padding:10px;
}
header a:hover{
    color:darkred;
}
header a:focus{
    color:#dddddd;
}
header{
    justify-content:space-between;
    align-items:center;
    position:sticky;
    top:0;
}
header > nav, header > h1{
    padding:15px;
}

footer{
    align-items:center;
    justify-content:center;
    position:relative;
}
footer > p{
    font-size:1.4em;
}


article{
    padding:30px;
}
article p{
    margin:20px 30px;
    text-align:justify;
}
#indent{
    text-indent:30px;
}



@media(max-width:600px){
    header a{
        font-size:1.3em;
    }
    article p{
        margin:20px;
    }
}